# Dependencies for all platforms (including macOS and Windows)
alembic==1.10.4
asgiref==3.7.2
bcrypt==4.0.1
bidict==0.22.1
blinker==1.6.3
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.3
Django==4.2.2
dnspython==2.3.0
dominate==2.7.0
email-validator==2.0.0.post2
eventlet==0.33.3
Faker==18.6.2
Flask==2.3.3
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
greenlet==3.0.1
h11==0.14.0
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.2
pycountry==22.3.5
python-dateutil==2.8.2
python-engineio==4.8.0
python-socketio==5.10.0
requests==2.31.0
simple-websocket==1.0.0
six==1.15.0
SQLAlchemy==2.0.4
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.4
typing_extensions==4.5.0
urllib3==2.0.7
visitor==0.1.3
Werkzeug==2.3.7
wsproto==1.2.0
WTForms==3.0.1
zipp==3.15.0

# Dependencies for macOS (including macOS arm64)
sys_platform == 'darwin': backports.zoneinfo==0.2.1
sys_platform == 'darwin': pyobjc-framework-SearchKit==9.0.1
sys_platform == 'darwin': pyobjc-framework-Security==9.0.1
sys_platform == 'darwin': pyobjc-framework-SecurityFoundation==9.0.1
sys_platform == 'darwin': pyobjc-framework-SecurityInterface==9.0.1
sys_platform == 'darwin': pyobjc-framework-ServiceManagement==9.0.1
sys_platform == 'darwin': pyobjc-framework-ShazamKit==9.0.1
sys_platform == 'darwin': pyobjc-framework-Social==9.0.1
sys_platform == 'darwin': pyobjc-framework-SoundAnalysis==9.0.1
sys_platform == 'darwin': pyobjc-framework-Speech==9.0.1
sys_platform == 'darwin': pyobjc-framework-SpriteKit==9.0.1
sys_platform == 'darwin': pyobjc-framework-StoreKit==9.0.1
sys_platform == 'darwin': pyobjc-framework-SyncServices==9.0.1
sys_platform == 'darwin': pyobjc-framework-SystemConfiguration==9.0.1
sys_platform == 'darwin': pyobjc-framework-SystemExtensions==9.0.1
sys_platform == 'darwin': pyobjc-framework-UniformTypeIdentifiers==9.0.1
sys_platform == 'darwin': pyobjc-framework-UserNotifications==9.0.1
sys_platform == 'darwin': pyobjc-framework-UserNotificationsUI==9.0.1
sys_platform == 'darwin': pyobjc-framework-VideoSubscriberAccount==9.0.1
sys_platform == 'darwin': pyobjc-framework-VideoToolbox==9.0.1
sys_platform == 'darwin': pyobjc-framework-Virtualization==9.0.1
sys_platform == 'darwin': pyobjc-framework-Vision==9.0.1
sys_platform == 'darwin': pyobjc-framework-WebKit==9.0.1