<!--
 CMPE 133 - Project: Casso
  Group 21
    Alvin Dang
    Binh Vu
    Jun Jie Lai
    Lam Vong
-->

{% extends "base.html" %}

{% block title %}Casso Create Post{% endblock %}

{% block content %}
  <!-- Page Content -->
  <div class="untree_co-section untree_co-section-4 pb-0"  id="portfolio-section">
    <div class="container">
      <div class="portfolio-single-wrap unslate_co--section" id="portfolio-single-section">

        <div class="portfolio-single-inner">
          <h2 class="heading-portfolio-single-h2 text-black">Create a post!</h2>
      
          <!-- Main body -->
          <!--<div class="untree_co-section" id="contact-section">-->
            <div class="container">
              
              <!-- Flash messages -->
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class="flash-messages">
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}

              <!-- Login Form -->
              <div class="row">
                <div class="col-lg-6">
                  <!-- Form -->
                  <form method="POST" action="login-request">
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-black">Login</button>
                    <div class="text-center mt-3">
                      <div class="text-left">Don't have an account? <a href="sign-up">Sign up</a></div>
                    </div>
                  </form>
                  <!-- End Form -->
                </div>
      
                <!-- Image Placeholder -->
                <div class="col-lg-6">
                  <div id="map">
                    <img src="{{ url_for('static', filename='images/dog.jpeg') }}" class="lazyload  img-fluid" alt="Images" />
                  </div>
                </div>
                <!-- END Image Placeholder -->
              </div>
              <!-- End Login Form -->
              
              
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Content-->

{% endblock %}