<!--
 CMPE 133 - Project: Casso
  Group 21
    Alvin Dang
    Binh Vu
    Jun Jie Lai
    Lam Vong
-->

{% extends "base.html" %}

{% block title %}Casso Feed{% endblock %}

{% block content %}
  <!-- Activity Galleria -->
  <div class="untree_co-section untree_co-section-4 pb-0"  id="portfolio-section">
    <div class="container">

      <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
      <div id="portfolio-single-holder"></div>

      <div class="portfolio-wrapper">

        <div id="posts" class="row">
          {% for post in posts %}
            <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
              <!--class="portfolio-item **ajax-load-page** isotope-item gsap-reveal-img | Ajax loads the portfolio overlay / scroller -->
              <a href="{{ url_for('main.user', user_id=post.user.id) }}" class="portfolio-item isotope-item gsap-reveal-img" data-id="{{ post.id }}">
                <div class="overlay">
                  <span class="wrap-icon icon-link2"></span>
                    <div class="portfolio-item-content">
                      <h3>{{ post.title }}</h3>
                      <p>{{ post.user.username }}</p>
                    </div>
                </div>
                <img src="{{ post.image_url() }}" class="lazyload img-fluid" alt="Images" />
                </a>
            </div>
          {% endfor %}
          <!--------------------------
            Post Card:
             - Post Picture
             - Post Title
             - User Who Posted (UWP)
            -------------------------->
          <!--<div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-1.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="1">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Minimalist Book</h3>
                  <p>{{ current_user.username }}</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/userPosts/IMG_1225_3.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>-->
          <!---
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-2.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="2">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Book Binding</h3>
                  <p>illustration, application</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_2.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Fresh Fruits</h3>
                  <p>web, branding</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_3.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>-->
        </div>
      </div>
      </div>
    </div>
  <!-- END Activity Galleria -->
{% endblock %}
