<!--
	CMPE 133 - Project: Casso
    Alvin Dang
-->
{% extends "base.html" %}

{% block title %}Casso Home{% endblock %}

{% block content %}
  <!-- Header -->
  <div class="untree_co-section pb-0" id="home-section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <!-- Main Title-->
          <h1 class="heading gsap-reveal-hero mb-3"><strong>Welcome to CASSO</strong><span class="text-primary">.</span></h1>
          <h2 class="subheading gsap-reveal-hero mb-4"> 
            <!-- Main description -->
            Medias newest social marketplace built for today's Artists. <strong>Join us today</strong> and embark on a journey where 
            <span class="text-primary"> every stroke, every click, and every connection </span>is a work of <strong>art</strong> in itself. <a href="https://untree.co/license" target="_blank"></a>
          </h2>
          <!-- Main Login/Home Feed btn -->
          <!-- Check if user is logged in-->
          {% if current_user.is_authenticated %}
          <p class="gsap-reveal-hero"><a href="home-feed" class="btn btn-outline-black">Home Feed</a></p> 
          {% else %}
          <p class="gsap-reveal-hero"><a href="login" class="btn btn-outline-black">Login now</a></p> 
          {% endif %}   
        </div>
      </div>
      
    </div>
  </div>
  <!-- END Header -->

  <!-- Activity Galleria -->
  <div class="untree_co-section untree_co-section-4 pb-0"  id="portfolio-section">
    <div class="container">


      <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
      <div id="portfolio-single-holder"></div>

      <div class="portfolio-wrapper">

        <div id="posts" class="row">

          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <!-- Artist Feed -->

            <!-- Image 1 -->
            <a href="portfolio-single-1.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="1">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Minimalist Book</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_1.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>
          
          <!-- Image 2 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-2.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="2">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Book Binding</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_2.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 3 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Fresh Fruits</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_3.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 4 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Powerful Speaker</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_4.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 5 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Wireless Headset</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_5.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 6 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-1.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="1">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Black & White Cubic</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_6.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 7 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-2.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="2">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Nike Shoe</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_7.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 8 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Old Typewriter</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_8.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 9 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Walking Man</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_9.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 10 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Progress Journal</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_10.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 11 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>The Dog</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_11.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 12 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Beautiful Woman</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_12.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

          <!-- Image 13 -->
          <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
              <div class="overlay">
                <span class="wrap-icon icon-link2"></span>
                <div class="portfolio-item-content">
                  <h3>Book Binding</h3>
                  <p>Casso Admin</p>
                </div>
              </div>
              <img src="{{ url_for('static', filename='images/img_2.jpg') }}" class="lazyload  img-fluid" alt="Images" />
            </a>
          </div>

        </div>
      </div>
      </div>
    </div>
  <!-- END Activity Galleria -->


  <!-- About Us -->
    <div class="untree_co-section pb-0" id="about-section">
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-lg-7 mx-auto text-center author-wrap">
            <img src="{{ url_for('static', filename='images/casso_black_logo.jpeg') }}" alt="Image" class="img-fluid rounded-circle mb-3">
            <h3 class="text-black h5 font-weight-bold mb-2 gsap-reveal-hero">CASSO</h3>
            <p class="gsap-reveal-hero">Social Media Art Marketplace</p>
          </div>
        </div>

        <!-- Product Description -->
        <div class="row justify-content-center">
          <div class="col-lg-7">


            <p class="gsap-reveal-hero">CASSO is a project created by Alvin Dang for his CMPE 133 at San Jose State University.</p>

            <p class="gsap-reveal-hero">Realizing the inefficient process for people to find and commission artists, Alvin envisioned 
              a social media platform that would streamline the entire commission process from start to finish. Enabling artists around 
              the world to abandon the limits of physical constraints as they turn a new leaf and partake in a vibrant atmosphere of 
              creativity.</p>

            <!-- Team Cards -->
            <section class="articles">

              <!-- Alvin -->
              <article>
                <div class="article-wrapper" id="alvin-card">
                  <figure>
                    <img src="{{ url_for('static', filename='images/alvin.jpeg') }}" class="lazyload  img-fluid" alt="Images" />
                  </figure>
                  <div class="article-body">
                    <h2>Alvin Dang</h2>
                    <p>
                      A junior at San Jose State University, Alvin is a Software Engineering major with a passion
                      for frontend. In his free time, Alvin enjoys listening to music, snowboarding, and cooking.
                    </p>
                    <a href="https://www.linkedin.com/in/alvinmpdang/" class="read-more" target="_blank">LinkedIn</a>
                    </a>
                  </div>
                </div>
              </article>
            </section>

            <p class="gsap-reveal-hero"></p>

            <p class="gsap-reveal-hero mb-5"></p>
          </div>
        </div>
      </div>
    </div>
  <!-- END About Us -->

  <!-- Features -->
    <div class="untree_co-section pb-0" id="features-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Features</strong></h2>
            <p class="gsap-reveal-hero">Unlock the potential that Group 21 has built. Use CASSO at its fullest.</p>
            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/svg/service-icon-7.svg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Marketing</h3>
              <p class="gsap-reveal-hero">Showcase your captivating portfolio in a community that celebrates your talent. </p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/follow.jpeg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Follow</h3>
              <p class="gsap-reveal-hero">Follow, communicate with, and engage with other artists from around the globe</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/buy.jpeg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Buy</h3>
              <p class="gsap-reveal-hero">Own captivating works of art that'll inspire anyone.</p>
            </div>
          </div>


          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/sell.jpeg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Sell</h3>
              <p class="gsap-reveal-hero">Earn money and build your portfolio with customers who have you as their first choice.</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/commission.jpeg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Commission</h3>
              <p class="gsap-reveal-hero">Find the artists that can create your vision and collaborate with them.</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="service text-center">
              <div class="gsap-reveal-hero mb-3">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/explore.jpeg') }}" alt="Image" class="img-fluid"></span>
              </div>
              <h3 class="gsap-reveal-hero">Explore</h3>
              <p class="gsap-reveal-hero">Dive into a vibrant world of creativity and own a piece of the extraordinary.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  <!-- END Services -->

  <!-- Skillset -->
    <!--<div class="untree_co-section pb-0">
      <div class="container">
        <div class="row mb-4">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>My Skillset</strong></h2>
            <p class="gsap-reveal-hero">The Big Oxmox advised her not to do so, because there were thousands of bad Commas.</p>
            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="0">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="98">
                <div class="number"></div>
                <p class="caption">WordPress</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="95">
                <div class="number"></div>
                <p class="caption">Web Design</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="89">
                <div class="number"></div>
                <p class="caption">Web/Mobile App</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-center" data-aos="fade-up" data-aos-delay="300">
            <div class="progressbar" data-animate="false">
              <div class="circle" data-percent="85">
                <div class="number"></div>
                <p class="caption">Photoshop</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>-->
  <!-- END Skillset -->

  <!-- Testimonials -->
    <!--<div class="untree_co-section testimonial-wrap">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Testimonials</strong></h2>
            <p class="gsap-reveal-hero">What clients say...</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>


        <div data-aos="fade-left" data-aos-delay="200">



          <div class="owl-carousel owl-3-slider">
            <div class="item">
              <div class="testimonial-v1">
                <span class="icon-service"><img src="{{ url_for('static', filename='images/svg/service-icon-4.svg') }}" alt="Image" class="img-fluid"></span>
                <div class="mb-4">
                  <h3>James Smith</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-v1">
                <img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>Jenny Wilson</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-v1">
                <img src="{{ url_for('static', filename='images/person_3.jpg') }}" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>Dan Anderson</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-v1">
                <img src="{{ url_for('static', filename='images/person_1.jpg') }}" alt="Image" class="img-fluid">
                <div class="mb-4">
                  <h3>James Smith</h3>
                  <span class="caption">CEO &amp; Co-Founder</span>
                </div>
                <blockquote>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  <!-- END Testimonials -->

  <!-- Blog Posts -->
    <!--<div class="untree_co-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Blog Posts</strong></h2>
            <p class="gsap-reveal-hero">News &amp; Updates</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff" stroke-width="2"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
            <div class="post-entry">
              <img src="{{ url_for('static', filename='images/person_1.jpg') }}" alt="Image" class="img-fluid">
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="{{ url_for('static', filename='images/gal_2.jpg') }}" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="{{ url_for('static', filename='images/gal_3.jpg') }}" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="post-entry">
              <a href="#" class="thumb"><img src="{{ url_for('static', filename='images/gal_4.jpg') }}" alt="image" class="img-fluid"></a>
              <h3><a href="#">Separated they live in</a></h3>
              <div class="post-meta">
                Aug 4, 2020 by <a href="#">Admin</a> in <a href="#">Web Design</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  <!-- END Blog Posts -->

  <!-- Contact -->
    <div class="untree_co-section" id="contact-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Contact</strong></h2>
            <p class="gsap-reveal-hero">Have ideas for new features? Get in touch</p>

            <div class="wave gsap-reveal-hero" >
              <svg>
                <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
              </svg>
            </div>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="row">
          <div class="col-lg-6">
            <form action="#">
              <div class="row">
                <div class="col-lg-6 form-group">
                  <input type="text" class="form-control" placeholder="Firstname">
                </div>
                <div class="col-lg-6 form-group">
                  <input type="text" class="form-control" placeholder="Lastname">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-group">
                  <input type="email" class="form-control" placeholder="Email address">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-group">
                  <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Write your message..."></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <input type="submit" class="btn btn-black" value="Send Message">
                </div>
              </div>
            </form>
          </div>
          <!-- END Contact Form -->

          <!-- Google Maps Embed -->
          <div class="col-lg-6">
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d793.054651581752!2d-121.88217632481786!3d37.33733297028409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1697942471446!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <!-- END Google Maps Embed -->
        </div>
      </div>
    </div>
  <!-- END Contact -->

 {% endblock %}